<div class="mobile-menu" aria-hidden="true">
  <button class="mobile-menu-close">Close</button>
  <ul class="mobile-menu-list">
    <li><a href="/visit">Visit</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/sermons">Sermons</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/give">Give</a></li>
  </ul>
</div>
